.content-container {
  padding-top: 20px;
  height: auto;
}
table {
  width: 100%;
}
::ng-deep .snack-fails {
  background-color: red;
  color: white;
}

::ng-deep .snack-success {
  background-color: rgb(0, 218, 0);
  color: white;
}
.body {
  width: 100%;
  height: 100%;
}
.custom-bg {
  background: linear-gradient(
    132deg,
    #f44336,
    #e91e63,
    #9c27b0,
    #673ab7,
    #3f51b5,
    #009688,
    #4caf50,
    #ffc107,
    #ff9800,
    #f44336,
    #e91e63,
    #9c27b0,
    #673ab7,
    #3f51b5,
    #009688,
    #4caf50
  );
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
}
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: #fff;
}
.text-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 70px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}
li > a {
  color: black !important;
  padding: 15px 10px;
}
.custom-name-user {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: white;
}
.custom-name-user:hover {
  color: black;
}
.custom-btn {
  color: white;
  background-image: linear-gradient(to left, #141e30, #243b55);
  outline: none;
}

.custom-card {
  width: 50%;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(100, 100, 111, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-header {
  background-image: linear-gradient(to left, #141e30, #243b55);
}
.footer-card {
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-top: 10px;
}
.btn {
  background-image: linear-gradient(to right, #141e30, #243b55);
  width: 100px;
}
.button-header {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid #141e30;
  background-color: #141e30;
  color: white;
  font-size: 14px;
  margin-left: 6px;
}
.button-header:hover {
  background-color: #243b55;
  color: white;
}

.custom-label {
  font-style: 20px;
  font-weight: 500;
}
.bg-light {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-title {
  padding: 20px 0 0 0;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
}
.custom-span {
  font-size: 15px;
  font-weight: 400;
}
.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.content-container {
  padding-top: 20px;
}

.setwidth {
  max-width: 1300px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 22px;
  font-weight: bold;
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574a9;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}
body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: #f5f5f5;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.bg-teal-400 {
  background-color: #26a69a;
}

a {
  text-decoration: none !important;
}

.fa {
  color: red;
}
.custome-hot {
  padding: 2px 15px;
  font-size: 14px;
  color: white;
  background-color: orange;
}
