<span class="custom-title">Managment Jobs</span>
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
></div>
<div class="content-container">
  <div class="container-fluid px-4">
    <div class="body">
      <div class="row">
        <div class="col">
          <div class="bg-light rounded">
            <div class="main">
              <div class="h-100 w-100 custom-card">
                <div class="card-header text-center">
                  <h2 class="text-white text-custom fw-bold">Add new jobs</h2>
                </div>
                <div class="card-body">
                  <form
                    (ngSubmit)="onSubmit()"
                    [formGroup]="employeeCreated"
                    action="javascript:void(0)"
                    enctype="multipart/form-data"
                  >
                    <div class="row">
                      <div class="col-md-4">
                        <div class="text-center">
                          <img
                            class="custom-img"
                            id="blah"
                            [src]="imageFile ? imageFile.link : defaultImageSrc"
                            alt="your image"
                          />
                          <input
                            type="file"
                            class="my-3"
                            accept="image/*"
                            name="imageFile"
                            id="imageFile"
                            formControlName="imageFile"
                            (change)="handleChange($event)"
                          />
                        </div>

                        <div class="form-group">
                          <label for="name">Name company</label>
                          <input
                            matInput
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            formControlName="name"
                            [value]="JobsObject.name"
                            [(ngModel)]="JobsObject.name"
                          />
                        </div>

                        <div class="form-group">
                          <label for="dateExpire">Date expire</label>
                          <input
                            matInput
                            type="date"
                            class="form-control"
                            id="dateExpire"
                            name="dateExpire"
                            formControlName="dateExpire"
                            [min]="currentDate | date: 'yyyy-MM-dd'"
                            [(ngModel)]="dateExpire"
                          />
                        </div>

                        <div class="form-group">
                          <label for="tag">Tag Jobs</label>
                          <ng-multiselect-dropdown
                            id="tag"
                            name="tag"
                            formControlName="tag"
                            [placeholder]="'custom placeholder'"
                            [settings]="dropdownSettings"
                            [data]="listTagJobs"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                          <label for="description">Description</label>
                          <ckeditor
                            name="myckeditor"
                            debounce="300"
                            [editor]="editor"
                            (change)="onChange($event)"
                          ></ckeditor>
                        </div>
                      </div>

                      <div class="col">
                        <div class="bg-light rounded">
                          <table
                            mat-table
                            class="mat-elevation-z8"
                            [dataSource]="dataSource"
                          >
                            <ng-container matColumnDef="logo">
                              <th mat-header-cell *matHeaderCellDef>Logo</th>
                              <td mat-cell *matCellDef="let element">
                                <img
                                  src="{{ element.imageSrc }}"
                                  alt="logo"
                                  style="
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50px;
                                  "
                                />
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef>
                                Name company
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.name }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                              <th mat-header-cell *matHeaderCellDef>
                                Kind of company
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.type }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="address">
                              <th mat-header-cell *matHeaderCellDef>address</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.address }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="dateWork">
                              <th mat-header-cell *matHeaderCellDef>
                                Date Work
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.dateWork }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="active">
                              <th mat-header-cell *matHeaderCellDef>Active</th>
                              <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle
                                  class="mr-2"
                                  [checked]="element.active"
                                ></mat-slide-toggle>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="options">
                              <th mat-header-cell *matHeaderCellDef>Options</th>
                              <td mat-cell *matCellDef="let element">
                                <button class="btn btn-danger">Remove</button>
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                              (click)="handleClick(row)"
                            ></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div
                          class="form-group footer-card d-flex justify-content-between"
                        >
                          <button
                            type="button"
                            class="btn fs-3 text-white rounded-pill"
                          >
                            Clear
                          </button>
                          <button
                            type="submit"
                            class="btn fs-3 text-white rounded-pill"
                          >
                            Create
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div [innerHTML]="status"></div> -->
    </div>
  </div>
</div>
