<div class="sidebar-container">
  <div class="sidebar-logo">Project Name</div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li class="p-2 mt-2">
      <a [routerLink]="['/home/dashboards']">
        <i class="fa fa-home" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li class="p-2 mt-2">
      <a [routerLink]="['/home/dashboards_employee']">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Employees
      </a>
    </li>
    <li class="header">Managment</li>
    <li class="p-2 mt-2">
      <a [routerLink]="['/home/manage']">
        <i class="fa fa-users" aria-hidden="true">Manage Acaount </i>
      </a>
    </li>
    <li class="p-2 mt-2">
      <a [routerLink]="['/home/employee']">
        <i class="fa fa-users" aria-hidden="true">Manage Employees </i>
      </a>
    </li>
    <li class="p-2 mt-2">
      <a [routerLink]="['/login']" (click)="handleLogout()">
        <i class="fa fa-users" aria-hidden="true"> Logout</i>
      </a>
    </li>
  </ul>
</div>

<div class="content-container">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
